<p id="notice"><%= notice %></p>

<%= link_to 'Edit Profile', edit_user_registration_path %>
<br />

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<% if @user.drivers_license.present? %>
  <p>
    <strong>Drivers License:</strong>
    <%= @user.drivers_license %>
  </p>
<% end %>


<%= link_to 'Back to Rides', rides_path %>
